<div class="border border-1 mt-5 p-3" style="width: 400px; margin: 0 auto; border-radius: 30px; background-color: gainsboro;">
  <div class="w-100 p-2">
    <h1 style="font-size: 30px; text-align: center;">Listado de tareas</h1>
    <div class="form-group d-flex mt-3">
      <input type="text" class="form-control" placeholder="Nueva tarea" [(ngModel)]="task" />
      <a class="btn btn-primary mx-2" (click)="add_item()">Agregar</a>
      <button class="btn btn-danger" (click)="delete_all_items()">Borrar</button>
    </div>
      <div>
        <span class="my-4" [ngStyle]="{'color': new_color}"><b>{{ tarea_vacia }}</b></span>
      </div>
  </div>

  <!-- lista -->
  @for (item of list; track $index) {
  <div class="row m-3">
    <div class="col-10">
      <div class="form-check my-1">
        <input class="form-check-input" (change)="tachar_tarea($index,item.IsComplete)" type="checkbox"
          [checked]="item.IsComplete" id="{{$index}}">
        <label class="form-check-label" for="{{$index}}" *ngIf="item.IsComplete">
          <s>{{item.TaskName}}</s><br>
          <label for="" style="font-size: 12px; color:green;">¡Completada!</label>

        </label>
        <label class="form-check-label" for="{{$index}}" *ngIf="!item.IsComplete">
          {{item.TaskName}} <br>
          <label for="" style="font-size: 12px; color:red;">¡Pendiente!</label>
        </label>
      </div>
    </div>
    <div class="col-1">
      <a href="" (click)="delete_item($index)"><svg style="width: 20px;" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512">
          <path
            d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
        </svg></a>
    </div>
  </div>
  <hr class="p-2">
  }
</div>